@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
}

img {
	display: block;
	max-width: 100%;
}

h1,
h2,
h3,
h4,
p {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	color: #222222;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.cards-section {
	margin-bottom: 60px;
}

.cards-section__title {
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	margin-bottom: 6px;
}

.cards-section__description {
	font-size: 14px;
	line-height: 17px;
	color: #9f9f9f;
	margin-bottom: 48px;
	text-align: center;
}

.cards__wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 30px;
	margin-bottom: 48px;
}

.cards__item {
	display: flex;
	flex-direction: column;
	background: #f8f8f8;
}

.item-img {
	width: 360px;
	height: 420px;
	margin-bottom: 25px;
}

.item-img:hover .item-img__hover {
	display: flex;
}

.item-img__hover {
	background: rgba(58, 56, 56, 0.86);
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
}

.item-img__hover-btn {
	cursor: pointer;
	background: transparent;
	outline: none;
	border: 1px solid #ffffff;
	padding: 13px 16px;
	display: flex;
	align-items: center;
	gap: 11px;

	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #ffffff;
}

.item-img__hover-btn::before {
	content: url(/img/btn-cart.svg);
	width: 26px;
	height: 24px;
}

.item-description {
	display: flex;
	flex-direction: column;
	margin: 0 0 19px 16px;
}

.item-title {
	font-size: 13px;
	line-height: 16px;
	margin-bottom: 16px;
}

.item-text {
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #5d5d5d;
	margin-bottom: 16px;
	max-width: 314px;
}

.item-price .item_color {
	font-size: 16px;
	line-height: 19px;
	color: #f16d7f;
}

.cards-section__btn {
	display: flex;
	justify-content: center;
}

.btn-browse {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #f26376;
	cursor: pointer;
	background: inherit;
	outline: none;
	border: 1px solid #ff6a6a;
	padding: 14px 38px;
}
